.serviço__container{
    display: grid;
    grid-template-columns: repeat(3, 1ft);
    gap: 3rem;
}

.serviço{
    text-align: center;
    background: var(--color-bg-variant);
    border: 2px rgb(0, 255, 34) solid;
    border-radius: 0 0 2rem 2rem;
    height: fit-content;
    transition: var(--transition);
}

.serviço:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.serviço__head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem;
    box-shadow: 0 2rem 1rem rgba(red, green, blue);
}
.serviço__head h3{
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}
.serviço__list{
    padding: 2rem;
}
.serviço__list li{
    display: flex;
    gap: 1rem;
}
.serviço__list-icon{
    color: var(--color-primary);
    margin-top: 2px;
}
.serviço__list p{
    font-size: 0.9rem;
}


/* parte das midias para tablet */
@media screen and (max-width: 1024px){
    .serviço__container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .serviço{
        height: auto;
    }


}


/* parte das midias para celular */
@media screen and (max-width: 600px){
     header{
        height: 100vh; 
    }
    .header__socials, .scrll__down{
        grid-template-columns: ifr;
        gap: 1.5rem;
    }

}